RedNoble.Starmao.Study.Configuration/RedNobleConfigSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:RedNoble.Starmao.Study.Configuration" elementFormDefault="qualified" targetNamespace="urn:RedNoble.Starmao.Study.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="redNobleConfigSection" type="tns:RedNoble.Starmao.Study.Configuration.RedNobleConfigSectionCT" />
	<xs:complexType name="RedNoble.Starmao.Study.Configuration.RedNobleConfigSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="databases" type="tns:RedNoble.Starmao.Study.Configuration.DatabaseElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Databases.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="emailClient" type="tns:RedNoble.Starmao.Study.Configuration.EmailClientElementCT">
				<xs:annotation>
					<xs:documentation>The EmailClient.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RedNoble.Starmao.Study.Configuration.DatabaseElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="database" type="tns:RedNoble.Starmao.Study.Configuration.DatabaseElementCT">
				<xs:annotation>
					<xs:documentation>The DatabaseElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RedNoble.Starmao.Study.Configuration.DatabaseElementCT">
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RedNoble.Starmao.Study.Configuration.EmailClientElementCT">
		<xs:attribute name="host" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="userName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The UserName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Password.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enableSsl" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The EnableSsl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sender" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Sender.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
